<?xml version="1.0" encoding="UTF-8"?>
 
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <!-- This specifies name of JDBC driver class name -->
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/unitech</property>
    <!-- This specifies where database server located -->
    <property name="hibernate.connection.username">unitech</property>
    <property name="connection.password">unitech@123</property>
    <!-- This specifies database username and password for connection. -->
    <property name="connection.pool_size">1</property>
    <!-- This specifies the total no of connection will established for developement -->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <!-- Specifies the name of dilect is used for database connection. Dilect differs from database to databse. -->
    <property name="show_sql">true</property>
    <property name="current_session_context_class">thread</property>
    <property name="hbm2ddl.auto">update</property>
    <property name="hibernate.hbm2ddl.import_files">insert.sql</property>
    <!-- For creating table -->
    <mapping class="biz.unitech.datamodel.Fitting"/>
    <mapping class="biz.unitech.datamodel.FittingType"/>
    <mapping class="biz.unitech.datamodel.Grip"/>
    <mapping class="biz.unitech.datamodel.Oring"/>
    <mapping class="biz.unitech.datamodel.Adaptor"/>
    <mapping class="biz.unitech.datamodel.PriceList"/>
    <mapping class="biz.unitech.datamodel.Supplier"/>
    <mapping class="biz.unitech.datamodel.SupplierOrder"/>
    <mapping class="biz.unitech.datamodel.SupplierOrderLineItem"/>
    <mapping class="biz.unitech.datamodel.ThreadDim"/>
    <mapping class="biz.unitech.datamodel.TubeDim"/>
  </session-factory>
</hibernate-configuration>