body {
	background: #dedede url(../images/main-bg.gif) repeat-x;
	color: #2D2D2D;
	font-family: tahoma, arial, verdana;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	padding-top: 30px;
	text-align: center;
}

.title {
  font-size: 40px;
}

img {
	border: 0px;
}

hr.strong{
  margin-top: 10px;
  margin-bottom: 20px;
  height: 5px;
  color: black;
  background-color: black;
}

hr.invisible {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 5px;
}

a:link { 
	color: #0290cb;
	font-weight: bold;
	text-decoration: none;
}
	
a:visited { 
	color: #0290cb;
	font-weight: bold;
	text-decoration: none;
}
	
a:hover, a:active { 
	color: #000000;
	font-weight: bold;
	text-decoration: underline;
}

#header {
	height:337px;
	display:block;
	width:609px;
	margin-right:0px;
	background-image: url(../images/hilarysmith.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	z-index:2;
	overflow:hidden;
}
#header a {
	position:absolute;
	top:322px;
	right:48px;
	width:50px;
	height:20px;
	z-index:3;
	display:inline;
}

#container {
	margin: 0px auto;
	text-align: left;
	width: 900px;
	position:relative;
}

#copyright {
	clear: both;
	color: #FFFFFF;
	font-size: 10px;
	margin-bottom: 10px;
	padding-right: 15px;
	text-align: center;	
}

#left {
	float: left;
	padding-top: 30px;
	width: 210px;
}

#menu {
	background: url(../images/menu-bg.gif) no-repeat;
	clear: both;
	display: block;
	height: 551px;
	padding-top: 10px;
	width: 190px;
}

#menu ul {
	list-style: none;
	margin: 0px;
	margin-left: 4px;
	margin-bottom: 10px;
	margin-top: 8px;
	padding: 0px;
}

#menu li {
	background: url(../images/list-bg.gif) no-repeat;
	display: block;
	font-size: 13px;
	height: 20px;
	list-style: none;
	margin: 0px;
	padding: 0px;
	padding-left: 28px;
	padding-top: 1px;
	width: 157px;
}

#nav {
  padding-top: 10px;
	clear: both;
	height: 50px;
	width: 700px;
	position:absolute;
	margin-left:200px;
}

#nav ul {
	list-style: none;
	margin: 20px 0px 0px 0px;
	padding: 0px;
	width:700px;
	z-index:15;
	position:absolute;
	text-align:center;
}

#nav li {
	list-style: none;
	float:left;
	margin: 0px;
	padding: 0px;
	display:inline;
	border-right: 1px solid #c0617f;
}
#nav a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	font-variant: normal;
	color: #FFFFFF;
	text-decoration: none;
	display:inline;
	text-transform: uppercase;
	padding: 20px 20px 10px 20px;
}
#nav a:hover {
	color:#df8fa9;
	text-decoration:underline;
}

#right {
	float: left;
	width: 680px;
}
#right a {
	text-decoration: none;
}
.tab {
	background: url(../images/tab-heading.gif) no-repeat;
	color: #000000;
	display: block;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	height: 25px;
	letter-spacing: -1px;
	padding-left: 10px;
	padding-top: 3px;
	margin-bottom: 8px;
	margin-left: 0px;
	width: 300px;
}

.tag {
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	margin-left: 25px;	
}

.textbox {
  margin-top: 70px;
	background: #66bde5 url(../images/textbox-bg.gif) no-repeat;
	color: #001f55;
	margin-left: 8px;
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 0px;
	width: 630px;
	padding-bottom:10px;
	padding-top: 10px;
}

.text{
  padding-left: 10px;
}

.lastnav{
	border-right: 0px none #c0617f !important;
}
.lastitem{
	background:url(../images/list-bg.gif) !important;
}
.activelist{
  background:url(../images/list-bg-active.gif) no-repeat !important;
}

.activelist a{
  color: #000000;
}

table {
  margin-left: 10px;
  border-width: 2px;
  border-spacing: 5px;
  border-style: dotted;
  border-color: black;
  border-collapse: collapse;
  width: 600px;
  margin-bottom: 10px;
}

input.narrow {
  width: 50px;
}

.section {
  margin-top: 10px;
  margin-bottom: 10px;
}

input.wide {
  align: center;
  width: 300px;
}

th {
  border-width: 1px;
  padding: 1px;
  border-style: dashed;
  border-color: gray;
  -moz-border-radius: ;
}

tr.nonstd {
  color: #c12906;
}

td {
  border-width: 1px;
  padding: 1px;
  border-style: dashed;
  border-color: gray;
}

.warn-text {
  font-size: 12px;
}

.message_link {
  text-decoration:underline;
}

.order-list-table {
  display:table; 
  width: 580px;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}

.right-table-cell {
  display: table-cell; 
  text-align: right;
}

.product-list-table {
   display: table; 
   width: 550px;
   border-collapse: collapse;
}

.product-list-table-row {
  display:table-row;
  border:2px dotted #000; 
  font-weight:bold
}

.product-list-table-cell-left {
  display: table-cell;
  border-right: 1px dotted #000;
}

.product-list-table-cell {
  display: table-cell;
  text-align: center;
  border-right: 1px dotted #000;
}











